@font-face {
    font-family: Roboto;
    font-stretch: normal;
    src: url("res/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    font-stretch: condensed;
    src: url("res/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto;
    font-stretch: expanded;
    src: url("res/fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Ubuntu;
    font-stretch: normal;
    src: url("res/fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: Ubuntu;
    font-stretch: condensed;
    src: url("res/fonts/Ubuntu-L.ttf");
}

@font-face {
    font-family: Ubuntu;
    font-stretch: expanded;
    src: url("res/fonts/Ubuntu-M.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-stretch: normal;
}

h1, h2, h3, h4, h5, h6, .header {
    font-family: Ubuntu, sans-serif;
    font-weight: normal;
}

body {
    background-color: #F1F2F7;
}