@font-face {
    font-family: Roboto;
    font-stretch: normal;
    src: url("res/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    font-stretch: condensed;
    src: url("res/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto;
    font-stretch: expanded;
    src: url("res/fonts/Roboto-Medium.ttf");
}


.App * {
    /*text-align: center;*/
    font-family: Roboto;
    font-stretch: normal;
}
